@page "/"
@page "/{Id:int}"
@inherits HenE_Grid.Pages.Component
@inject NavigationManager NavigationManager
<div>
    <ODataGrid TItem="Order" Url="http://services.odata.org/V4/Northwind/Northwind.svc/Orders/"></ODataGrid>
</div>


<div>
    <ODataGrid TItem="Vwaangepastewoningen" Url="https://overzichten.dev.hene.nl/Vwaangepastewoningen"></ODataGrid>
</div>


@code
{
    [Parameter]
    public int Id { get; set; }
    private string Url = string.Empty;

    protected override void OnParametersSet()
    {
        switch (Id)
        {
            case 1:
                NavigationManager.NavigateTo("vwaangepastewoningen");                
                break;
            case 2:
                NavigationManager.NavigateTo("order");                
                break;
            default:
                break;
        }
        StateHasChanged();
    }
}