@page "/order" 
@inject IHaveSettings Settings
<div>
    <ODataGrid TItem="HenE_Grid.Data.Order" Url="@Url"></ODataGrid>
</div>

@code{
    protected string Url
    {
        get{ return Settings.GetInstellingen().OdatabaseUrl+"/"+ "Order" ;  }
    }
}

